@import '../../styles/variables.scss';

.showcase-base {
    z-index: $z-index-base;
    height: auto;
    background-color: $color-background-base;
    background-image: url('../../images/bg-image.jpg');
    background-position: center center;
    padding-bottom: $padding-base;
    padding-top: 5rem;
    position: relative;
    display: flex;
}