@import '../../styles/variables.scss';

.vehicles-base {
  background-color: $color-white;

  .vehicles-title {
    font-weight: $font-weight-light;
    font-size: $font-size-ultra-large;
    color: $color-gray-darker;
    text-align: center;
    position: relative;
  }

  .vehicles-title-underline {
    margin: 0 auto;
    width: 100px;
    border-top: 1px solid rgba(55, 52, 53, 0.3);
  }
}