@import '../../styles/variables.scss';

.footer {
  background-color: $color-footer-base;
  padding: $padding-extra 0 $padding-middle;

  .footer-top {
    justify-content: space-evenly;
    display: inline-flex;
    width: 100%;
  }

  .footer-footer {
    margin-top: $margin-middle;

    .footer-footer-logo {
      width: 100%;
      height: auto;
      margin: auto;
      text-align: center;
    }
  }
}

