@import '../../styles/variables.scss';

.social-button {
  background-color: $color-facebook;
  border-radius: $border-radius;
  font-family: $font-family-base;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  padding: $padding-tiny;
  display: inline-flex;
  color: $color-font;
  margin-right: $margin-tiny;
}