@import '../../styles/variables.scss';

.base-right-panel {
    justify-content: space-between;
    flex-direction: column;
    padding: $padding-middle $padding-base; 
    display: flex;
    width: 59%;
}