@import '../../styles/variables.scss';

.call-subtitle {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  margin: $margin-tiny 0;
  color: $color-font;
}