@import '../../styles/variables.scss';

.main-header {
    height: 5rem;
    width: 100%;
    padding: 0 0.9375rem;
    display: flex;
    justify-content: center;
    z-index: $z-index-force;
    transition: $time-duration;
}

.scrolled-header {
    background-color: $color-background-dark;
    height: 3.5rem;
}