@import '../../styles/variables.scss';

.navbar-list {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: auto 2rem;

    .color-black {
      color: $color-gray-darker;
    }
}
