@import "../../styles/variables.scss";

.vertical-list-item {
  text-transform: uppercase;
  border-bottom: 1px solid $color-gray-dark;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  transition: $time-duration;
  padding: $padding-small 0;
  cursor: pointer;
  margin: 0;
  color: $color-white-low-opacity;

  &:hover {
    color: $color-white;
  }
}