@import '../../styles/variables.scss';

.right-column-table {
  background-color: $color-gray-darker-high-opacity;
  transform: translateY(-$padding-large);
  padding: $padding-large $padding-base;
  z-index: $z-index-ahead;
  border-spacing: 0;

  .table-title {
    font-family: $font-family-base;
    font-weight: $font-weight-light;
    font-size: $font-size-extra-large;
    margin-bottom: $margin-wee;
    color: $color-font;
  }

  .table-body {
    overflow-y: scroll;
    display: block;
    height: 250px;

    .table-row:nth-child(odd) {
      background-color: $color-white-extra-low-opacity;
    }
  }
}