@import '../../styles/variables.scss';

.form-select {
    font-size: $font-size-small;
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    width: 100%;
    margin: $margin-tiny 0;
    padding: $padding-wee;
    border: $border;
    background: $color-darkness-high-opacity;
    color: $color-font;
    border-radius: $border-radius;
}