@import '../../styles/variables.scss';

.navbar-list-element {
    text-transform: uppercase;
    color: $color-font;
    font-family: $font-family-base;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-small;
    cursor: pointer;
}
