@import '../../styles/variables.scss';

.call-button {
    margin: auto 2rem;
    padding: 10px 15px;
    border: 2px solid $color-font;
    text-transform: uppercase;
    color: $color-font;
    font-size: $font-size-base;
    font-family: $font-family-base;
    font-weight: $font-weight-semi-bold;
    transition: $time-duration all;
    cursor: pointer;

    &:hover {
        background-color: $color-white;
        color: $color-darkness;
    }
}

.phone-clicked {
    background-color: $color-white;
    color: $color-darkness;
}