@import '../../styles/variables.scss';

.versions-base {
  background-position: center center;
  background-color: $color-background-base;
  background-image: url('../../images/empty_highway-wallpaper-1280x960.png');
  justify-content: space-evenly;
  flex-direction: column;
  padding: $padding-large 0 $padding-base;
  display: flex;
  height: auto;
  width: 100%;

  .versions-base-top {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .versions-base-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
  }
}